node_modules
node_modules/
/node_modules
/node_modules/

.DS_Store
dist
dist-ssr
*.local

.env
coverage
coverage.json
typechain

#Hardhat files
cache
/cache
cache/
/cache/
artifacts
/artifacts/
artifacts/
/artifacts